<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <img src="assets/store.jpg">
    <a class="navbar-brand" href="#">MyStore</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/user">User Management</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/product">Product Management</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/provider">Provider Management</a>
        </li>
      </ul>
      <ul  class="navbar-nav" id="auth">
        <li class="nav-item">
          <a class="btn btn-outline-primary" routerLink="/subscribe" >Subscribe</a>
        </li>
        &nbsp;
        <li class="nav-item">
          <a class="btn btn-outline-warning" routerLink="/login">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
