<h1>Create a  new Account</h1>
<form class="w-50 mx-auto" #f="ngForm">
  <div class="form-group">
    <label>First Name</label>
    <input type="text" name="firstName" class="form-control"
           [(ngModel)]="user.firstName"
           required minlength="3" pattern="[a-zA-Z]+$" #fn="ngModel">
    <br>
    <div class="alert alert-danger" *ngIf="fn.invalid && fn.touched">
      <div *ngIf="fn.hasError('required')"> FirstName is a required field</div>
      <div *ngIf="fn.hasError('minlength')"> FirstName minlength ies equal to 3</div>
      <div *ngIf="fn.hasError('pattern')"> error msg Pattern</div>
    </div>
  </div>
  <button class="btn btn-outline-success" (click)="save()"
          [disabled]="f.invalid">
    save
  </button>
  &nbsp;
  <button class="btn btn-outline-warning" (click)="f.reset()">reset</button>
</form>
